@font-face{
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

$principal-color: #01aded;
$secondary-color: #003C6B;
$bg-color: #f6f6f6;
$p-size: 16px;

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden !important;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: $p-size;
}

::placeholder {
    color: white !important;
    opacity: 8; 
  }
  
  :-ms-input-placeholder { 
    color: white !important;
  }
  
  ::-ms-input-placeholder {
    color: white !important;
  }

a{
    color: $secondary-color;
    &:hover{
        text-decoration: none;
    }
    &:visited{
        color: $secondary-color;
    }
}

input[type="text"]{
    background-color: transparent;
    color: white;

    &:focus{
        background-color: transparent;
        color: white;
    }
}

textarea{
    resize: none;
    background-color: transparent !important;
    color: white !important;

    &:focus{
        background-color: transparent !important;
        color: white !important;
    }
   
}

%fm-btn{
    border: none;
    padding: 20px;
}

%fm-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%fm-opacity{
    transition: opacity 1s ease;
    opacity: 0;
}



@mixin fmFades($position){
    transition: $position 800ms ease;
    #{$position}: -1000px;
}

@mixin fmBotones($color, $fondo){
    color: $color;
    background-color: #01aded;
    transition: all .5s;
}

.fm-btn-main{
    @extend %fm-btn;
    @include fmBotones(white, $principal-color);

    &:hover{
        background-color: $secondary-color;
    }
}

/*Textos*/

.principal-color{
    color: $principal-color;
}
h1{
    font-family: Anton;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
/*Colores*/
.fm-bg-gray{
    background-color: $bg-color;
}

/*Estios generales*/

.toTop{
    cursor: pointer;

    &:hover{
        color: white;
    }
}


.fade-left, .fade-choose-left{
    @include fmFades(left);
}
.fade-right, .fade-choose-right{
    @include fmFades(right);
}

.fm-rotate{
    animation: rotateimg 1s ease-in-out;
}
@keyframes rotateimg {
    to{
        transform: rotate(360deg);
    }
}

.nav-mobile{
    left:0px;
}

#servicesrow, #chooserow{
    @extend %fm-opacity;
}

.fm-loading{
    transition: all 500ms ease;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #8d8d8d;
    overflow: hidden !important;

    img{
        animation: loading 4s infinite;
    }

    @keyframes loading {
        0%{
            width: 25%;
        }
        16%{
            width: 35%;
        }
        33%{
            width: 25%;
        }
        50%{
            width: 35%;
        }
        66%{
            width: 25%;
            opacity: 1;
        }
        85%{
            width: 35%;
        }
        100%{
            width: 25%;
            opacity: 0;
        }
    }
}

/*Float Button*/
.fm-float-button{
    position: fixed;
    bottom: -60px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: $principal-color;
    color: white;
    border-radius: 50%;
    z-index: 2;
    transition: all 500ms ease;
    cursor: pointer;

    a{
        color: white;
        padding: 25px;

        &:visited{
            color: white;
        }
    }

    &:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    }
}

/*Nav Mobile*/

   aside{
       display: none;
       z-index: 2;
       transition: left .5s ease;
       position: fixed;
       left: -200px;
       width: 200px;
       height: 100vh;
       background-color: $bg-color;
       box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5);

       .active{
           transition: all 500ms ease;
            background-color: $principal-color;
            a{
                color: white;
            }
        }   

        .mobile-description{
            font-size: 12px;

            .mobile-interior{
                margin: 10px 0 10px 10px;

                .mobile-in{
                    margin-left: 5px;
                }
            }
        }

       .mobile-ul{
           width: 100%;
           list-style: none;

           .mobile-li{
               height: 50px;
               a{
                   display: block;
                   padding: 13px;
               }
           }
       }

       &::after{
           content: '';
           z-index: -1;
           background-color: $principal-color;
           position: absolute;
           top: 0;
           left: 200px;
           width: 767px;
           height: 45px;
       }

       .fm-mobile-top{
           position: absolute;
           top: 8px;
           right: -125px;
           img{
               margin-left: 10px;
               width: 80px;
           }
       }
   }

/*Barra de navegación con scroll*/
.fm-nav-scroll{
    display: none;
    position: fixed;
    width: 100%;
    background-color: $principal-color;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: opacity 300ms ease;
    opacity: 0;

    .fm-scroll-img{
        position: relative;
        width: 125px;
        padding: 10px;

        img{
            width: 100%;
        }
    }

    .fm-nav-scroll-ul{
        list-style-type: none;
    }

    .fm-nav-scroll-item{
        position: relative;
        color: white;
        padding: 20px;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            transition: all 500ms ease;
            background-color: $secondary-color;
            height: 2px;
        }

        &:hover::before{
            width: 100%;
        }
    }

    .fm-scroll-active{
        position: relative;
        color: white;
        padding: 20px;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all 500ms ease;
            background-color: $secondary-color;
            height: 2px;
        }
    }
}

/*Estilos de la barra de navegación*/
.fm-nav{
    @extend %fm-center;
    background-color: $bg-color;

    .fm-nav-left{
        position: relative;
        right: 40px;
        box-sizing: border-box;
        display: flex;
        padding: 20px 40px 20px;
        z-index: 1;
    
        &::before{
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            background: #ffffff;
            transform: skewX(16deg);
            transform-origin: 50% 100%;
            will-change: transform;
            pointer-events: none;
            z-index: -1;
        }
    }

    .fm-nav-right{
        position: relative;
    }
    
    .fm-nav-img{
        width: 100px;
    }
    
    .fm-nav-top{
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        padding: 8px;
        list-style-type: none;
        margin: 0;   
    
        &::before{
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            width: 100vw;
            background: #ffffff;
            transform: skewX(16deg);
            transform-origin: 50% 90%;
            will-change: transform;
            pointer-events: none;
            z-index: -1;
        }
    }
    
    .fm-nav-main{
        display: flex;
        list-style-type: none;
        margin: 0;
    }
    
    .fm-nav-item{
        padding: 10px 15px;
    }

    .fm-margin-nav{
        margin: 27px 0;
    }
    
    .item-main{
        padding: 10px 15px;
        font-weight: 500;
        position: relative;
        padding: 30px;
        cursor: pointer;
    
        &::before{
            content: '';
            position: absolute;
            background-color: $principal-color;
            transition: width .5s;
            left: 0;
            bottom: 0;
            height: 5px;
            width: 0;
        }
    
        &:hover::before{
            width: 100%;
        }
    }

    .item-main-active{
        padding: 10px 15px;
        font-weight: 500;
        position: relative;
        padding: 30px;
        cursor: pointer;
    
        &::before{
            content: '';
            position: absolute;
            background-color: $principal-color;
            transition: width .5s;
            left: 0;
            bottom: 0;
            height: 5px;
            width: 100%;
        }
    }
}

.fm-image-main{
    transition: opacity 1s ease;
    opacity: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 1;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: brightness(60%);
        background-image: url('../img/principal.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }

    .fm-main-text{
        font-size: 24px;
    }
}

.fm-cards{
    background-color: $bg-color;

    .fm-card-top{
        text-align: center;
        font-size: 35px;
        color: $principal-color;
    }

    .fm-card-description{
        cursor: default;
 
    }


    .fm-card-body{
        font-size: 14px;
        text-align: center;

        h4{
            font-family: Montserrat-Medium;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        p{
            color: #8d8d8d;
        }
    }
}

.fm-services{
    background-color: #fff;

    .fm-subtitle-top{
        transition: bottom 1s ease;
        opacity: 0;
        bottom: -200px;
        position: relative;
        @extend %fm-center;
        flex-direction: column;
    }

    .fm-subtitle{
        text-transform: uppercase;
        position: relative;
        text-align: center;

        &::before{
            content: '';
            position: absolute;
            left: 25%;
            bottom: 0;
            height: 3px;
            width: 50%;
            background-color: $principal-color;
        }
    }

    .fm-services{
        background: #ffffff;
    }

    .card{
        overflow: hidden;

        .card-body{
            z-index: 1;
        }
        .card-img-top{
            transition: all 500ms;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
    
    .fm-card-title{
        text-transform: uppercase;
        color: $principal-color;
    }

}

/*Por que elegirnos*/
.fm-why{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 1;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/maintenance.jpeg);
        filter: brightness(60%);
        background-size: cover;
        background-position:center ;
        background-attachment: fixed;
        z-index: -1;
    }

    .fm-subtitle-why{
        transition: opacity 1s ease;
        opacity: 0;
    }

    .fm-subtitle{
        text-align: center;
        font-family: Anton;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: white;
    }

    .fm-card-why{
        min-height: 156px;
        position: relative;
        border: 1px solid white;
        
        p{
            transition: all 500ms ease;
            cursor: default;
        }

        &:hover p{
            color: $principal-color !important;
        }

        .fm-card-why-top{
            width: 100%;
            font-weight: 500;
            font-size: 20px;
            transition: all 500ms ease;
            .fm-why-icon{
                text-align: left;
                color: $principal-color;
                font-size: 36px;
            }
        }
        
    }
}

.fm-testimonials{
    background-color: $bg-color;

    .fm-subtitle-top{
        position: relative;
        @extend %fm-center;
        flex-direction: column;
    }

    .fm-subtitle{
        text-transform: uppercase;
        position: relative;
        text-align: center;

        &::before{
            content: '';
            position: absolute;
            left: 25%;
            bottom: 0;
            height: 3px;
            width: 50%;
            background-color: $principal-color;
        }
    }
    
    .img-area{
        border: 2px solid $principal-color;
        width: 100px;
        height: 100px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .carousel-caption{
        position: static;
        padding-bottom: 15px;
        padding-top: 0;

        h5{
            font-size: 26px;
            margin-bottom: 15px;
            margin-top: 25px;
            color: $secondary-color;
        }

        p{
            color: #8b8b8b;
            font-size: 18px;
            margin: auto;
            width: 70%;
            margin-bottom: 10px;
        }
    }

    .carousel-indicators{
        bottom: -35px;
    }
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(1);
}

.fm-contact{
    background-color: $secondary-color;

    .fm-subtitle-top{
        position: relative;
        @extend %fm-center;
        flex-direction: column;
    }

    .fm-subtitle{
        text-transform: uppercase;
        position: relative;
        text-align: center;

        &::before{
            content: '';
            position: absolute;
            left: 25%;
            bottom: 0;
            height: 3px;
            width: 50%;
            background-color: $principal-color;
        }
    }

    .fm-ul-contact{
        list-style-type: none;
        color: #fff;

        .fm-ul-item{
            margin: 20px 0;
            font-size: 22px;
            transition: all 500ms ease;
            cursor: default;

            &:hover, .fm-icon{
                color: $principal-color;
            }

            
        }
    }

}

@media (max-width : 850px){
    .fm-nav{
        font-size: 14px;
    }

    .fm-nav-left{
        padding: 10px 20px !important;
        right: 0 !important;
    }
}

@media (max-width: 767px){
    .fm-nav-scroll, .fm-nav{
        display: none !important;
    }

    .mobile{
        display: block;
    }
}

@media (max-width: 474px){
    body{
        h1,h4{
            font-size: 24px !important;
        }

        p{
            font-size: 16px !important;
        }  
    }

    .fm-why, .fm-card-why{
        min-height: 120px !important;
    }
    
}

















