@charset "UTF-8";
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden !important;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: #003C6B;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #003C6B;
}

input[type=text] {
  background-color: transparent;
  color: white;
}
input[type=text]:focus {
  background-color: transparent;
  color: white;
}

textarea {
  resize: none;
  background-color: transparent !important;
  color: white !important;
}
textarea:focus {
  background-color: transparent !important;
  color: white !important;
}

.fm-btn-main {
  border: none;
  padding: 20px;
}

.fm-contact .fm-subtitle-top, .fm-testimonials .fm-subtitle-top, .fm-services .fm-subtitle-top, .fm-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm-btn-main {
  color: white;
  background-color: #01aded;
  transition: all 0.5s;
}
.fm-btn-main:hover {
  background-color: #003C6B;
}

/*Textos*/
h1 {
  font-family: Anton;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

/*Colores*/
.fm-bg-gray {
  background-color: #f6f6f6;
}

/*Float Button*/
.fm-float-button {
  position: fixed;
  bottom: -60px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #01aded;
  color: white;
  border-radius: 50%;
  z-index: 2;
  transition: all 500ms ease;
  cursor: pointer;
}
.fm-float-button a {
  color: white;
  padding: 25px;
}
.fm-float-button a:visited {
  color: white;
}
.fm-float-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*Barra de navegación con scroll*/
.fm-nav-scroll {
  position: fixed;
  width: 100%;
  background-color: #01aded;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: opacity 300ms ease;
  opacity: 0;
}
.fm-nav-scroll .fm-scroll-img {
  position: relative;
  width: 125px;
  padding: 10px;
}
.fm-nav-scroll .fm-scroll-img img {
  width: 100%;
}
.fm-nav-scroll .fm-nav-scroll-ul {
  list-style-type: none;
}
.fm-nav-scroll .fm-nav-scroll-item {
  position: relative;
  color: white;
  padding: 20px;
}
.fm-nav-scroll .fm-nav-scroll-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: all 500ms ease;
  background-color: #003C6B;
  height: 2px;
}
.fm-nav-scroll .fm-nav-scroll-item:hover::before {
  width: 100%;
}
.fm-nav-scroll .fm-scroll-active {
  position: relative;
  color: white;
  padding: 20px;
}
.fm-nav-scroll .fm-scroll-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 500ms ease;
  background-color: #003C6B;
  height: 2px;
}

/*Estilos de la barra de navegación*/
.fm-nav {
  background-color: #f6f6f6;
}
.fm-nav .fm-nav-left {
  position: relative;
  right: 40px;
  box-sizing: border-box;
  display: flex;
  padding: 20px 40px 20px;
  z-index: 1;
}
.fm-nav .fm-nav-left::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: #ffffff;
  transform: skewX(16deg);
  transform-origin: 50% 100%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}
.fm-nav .fm-nav-right {
  position: relative;
}
.fm-nav .fm-nav-img {
  width: 100px;
}
.fm-nav .fm-nav-top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  padding: 8px;
  list-style-type: none;
  margin: 0;
}
.fm-nav .fm-nav-top::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #ffffff;
  transform: skewX(16deg);
  transform-origin: 50% 90%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}
.fm-nav .fm-nav-main {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.fm-nav .fm-nav-item {
  padding: 10px 15px;
}
.fm-nav .fm-margin-nav {
  margin: 27px 0;
}
.fm-nav .item-main {
  padding: 10px 15px;
  font-weight: 500;
  position: relative;
  padding: 30px;
  cursor: pointer;
}
.fm-nav .item-main::before {
  content: "";
  position: absolute;
  background-color: #01aded;
  transition: width 0.5s;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
}
.fm-nav .item-main:hover::before {
  width: 100%;
}

.fm-image-main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 1;
}
.fm-image-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  background-image: url("../img/principal.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.fm-image-main .fm-main-text {
  font-size: 24px;
}

.fm-cards {
  background-color: #f6f6f6;
}
.fm-cards .fm-card-top {
  text-align: center;
  font-size: 35px;
  color: #01aded;
}
.fm-cards .fm-card-body {
  font-size: 14px;
  text-align: center;
}
.fm-cards .fm-card-body h4 {
  font-family: Montserrat-Medium;
  margin-top: 15px;
  margin-bottom: 10px;
}
.fm-cards .fm-card-body p {
  color: #8d8d8d;
}

.fm-services {
  background-color: #fff;
}
.fm-services .fm-subtitle-top {
  position: relative;
  flex-direction: column;
}
.fm-services .fm-subtitle {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.fm-services .fm-subtitle::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #01aded;
}
.fm-services .fm-services {
  background: #ffffff;
}
.fm-services .fm-card-title {
  text-transform: uppercase;
  color: #01aded;
}

/*Por que elegirnos*/
.fm-why {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 1;
}
.fm-why::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/maintenance.jpeg);
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.fm-why .fm-subtitle {
  text-align: center;
  font-family: Anton;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
}
.fm-why .fm-card-why {
  min-height: 156px;
  position: relative;
  border: 1px solid white;
}
.fm-why .fm-card-why p {
  transition: all 500ms ease;
  cursor: default;
}
.fm-why .fm-card-why:hover p {
  color: #01aded !important;
}
.fm-why .fm-card-why .fm-card-why-top {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  transition: all 500ms ease;
}
.fm-why .fm-card-why .fm-card-why-top .fm-why-icon {
  text-align: left;
  color: #01aded;
  font-size: 36px;
}

.fm-testimonials {
  background-color: #f6f6f6;
}
.fm-testimonials .fm-subtitle-top {
  position: relative;
  flex-direction: column;
}
.fm-testimonials .fm-subtitle {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.fm-testimonials .fm-subtitle::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #01aded;
}
.fm-testimonials .img-area {
  border: 2px solid #01aded;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.fm-testimonials .img-area img {
  width: 100%;
}
.fm-testimonials .carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 0;
}
.fm-testimonials .carousel-caption h5 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 25px;
  color: #003C6B;
}
.fm-testimonials .carousel-caption p {
  color: #8b8b8b;
  font-size: 18px;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
}
.fm-testimonials .carousel-indicators {
  bottom: -35px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(1);
}

.fm-contact {
  background-color: #003C6B;
}
.fm-contact .fm-subtitle-top {
  position: relative;
  flex-direction: column;
}
.fm-contact .fm-subtitle {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.fm-contact .fm-subtitle::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #01aded;
}
.fm-contact .fm-ul-contact {
  list-style-type: none;
  color: #fff;
}
.fm-contact .fm-ul-contact .fm-ul-item {
  margin: 20px 0;
  font-size: 22px;
  transition: all 500ms ease;
  cursor: default;
}
.fm-contact .fm-ul-contact .fm-ul-item:hover, .fm-contact .fm-ul-contact .fm-ul-item .fm-icon {
  color: #01aded;
}

@media (max-width: 850px) {
  .fm-nav {
    font-size: 14px;
  }

  .fm-nav-left {
    padding: 10px 20px !important;
    right: 0 !important;
  }
}
@media (max-width: 767px) {
  .fm-nav-scroll, .fm-nav {
    display: none;
  }
}
@media (max-width: 474px) {
  body h1, body h4 {
    font-size: 24px !important;
  }
  body p {
    font-size: 16px !important;
  }

  .fm-why, .fm-card-why {
    min-height: 120px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
