@charset "UTF-8";
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.fm-btn-main {
  border: none;
  padding: 20px;
}

.fm-testimonials .fm-subtitle-top, .fm-services .fm-subtitle-top, .fm-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm-btn-main {
  color: white;
  background-color: #01aded;
  transition: all 0.5s;
}
.fm-btn-main:hover {
  background-color: #003C6B;
}

/*Textos*/
h1 {
  font-family: Anton;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

/*Colores*/
.fm-bg-gray {
  background-color: #f6f6f6;
}

/*Estilos de la barra de navegación*/
.fm-nav {
  background-color: #f6f6f6;
}
.fm-nav .fm-nav-left {
  position: relative;
  right: 40px;
  box-sizing: border-box;
  display: flex;
  padding: 20px 40px 20px;
  z-index: 1;
}
.fm-nav .fm-nav-left::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: #ffffff;
  transform: skewX(16deg);
  transform-origin: 50% 100%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}
.fm-nav .fm-nav-right {
  position: relative;
}
.fm-nav .fm-nav-img {
  width: 100px;
}
.fm-nav .fm-nav-top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  padding: 8px;
  list-style-type: none;
  margin: 0;
}
.fm-nav .fm-nav-top::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #ffffff;
  transform: skewX(16deg);
  transform-origin: 50% 90%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}
.fm-nav .fm-nav-main {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.fm-nav .fm-nav-item {
  padding: 10px 15px;
}
.fm-nav .item-main {
  font-weight: 500;
  position: relative;
  padding: 30px;
  cursor: pointer;
}
.fm-nav .item-main::before {
  content: "";
  position: absolute;
  background-color: #01aded;
  transition: width 0.5s;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
}
.fm-nav .item-main:hover::before {
  width: 100%;
}

.fm-image-main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 1;
}
.fm-image-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  background-image: url("../img/principal.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.fm-image-main .fm-main-text {
  font-size: 24px;
}

.fm-cards {
  background-color: #f6f6f6;
}
.fm-cards .fm-card-top {
  text-align: center;
  font-size: 35px;
  color: #01aded;
}
.fm-cards .fm-card-body {
  font-size: 14px;
  text-align: center;
}
.fm-cards .fm-card-body h4 {
  font-family: Montserrat-Medium;
  margin-top: 15px;
  margin-bottom: 10px;
}
.fm-cards .fm-card-body p {
  color: #8d8d8d;
}

.fm-services {
  background-color: #fff;
}
.fm-services .fm-subtitle-top {
  position: relative;
  flex-direction: column;
}
.fm-services .fm-subtitle {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.fm-services .fm-subtitle::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #01aded;
}
.fm-services .fm-services {
  background: #ffffff;
}
.fm-services .fm-card-title {
  text-transform: uppercase;
  color: #01aded;
}

/*Por que elegirnos*/
.fm-why {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 1;
}
.fm-why::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/maintenance.jpeg);
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.fm-why .fm-subtitle {
  text-align: center;
  font-family: Anton;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
}
.fm-why .fm-card-why {
  min-height: 156px;
  position: relative;
  border: 1px solid white;
}
.fm-why .fm-card-why p {
  transition: all 500ms ease;
  cursor: default;
}
.fm-why .fm-card-why:hover p {
  color: #01aded !important;
}
.fm-why .fm-card-why .fm-card-why-top {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  transition: all 500ms ease;
}
.fm-why .fm-card-why .fm-card-why-top .fm-why-icon {
  text-align: left;
  color: #01aded;
  font-size: 36px;
}

.fm-testimonials {
  background-color: #f6f6f6;
}
.fm-testimonials .fm-subtitle-top {
  position: relative;
  flex-direction: column;
}
.fm-testimonials .fm-subtitle {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.fm-testimonials .fm-subtitle::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #01aded;
}
.fm-testimonials .img-area {
  border: 2px solid #01aded;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.fm-testimonials .img-area img {
  width: 100%;
}
.fm-testimonials .carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 0;
}
.fm-testimonials .carousel-caption h5 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 25px;
  color: black;
}
.fm-testimonials .carousel-caption p {
  color: #8b8b8b;
  font-size: 18px;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
}
.fm-testimonials .carousel-indicators {
  bottom: -35px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(1);
}

/*# sourceMappingURL=styles.css.map */
